.git
.github
.venv
ai-service/venv
ai-service/storage/uploads/*
backend/node_modules
backend/vendor
backend/storage/app/public/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/database/database.sqlite
cloudflared.exe
*.mp4
*.mp3
*.wav
*.bat
